extends layout

block content
    //- ヘッダー
    .mdl-layout.mdl-js-layout.mdl-layout--overlay-drawer-button
      header.mdl-layout__header
        .mdl-layout-icon
        .mdl-layout__header-row
          span.mdl-layout-title Welcome to #{title}
      .mdl-layout__drawer
        span.mdl-layout-title Townlim
        nav.mdl-navigation
          a.mdl-navigation__link(href="/towns/shibuya") SHIBUYA
          a.mdl-navigation__link(href="/towns/shinjuku") SHINJUKU
          a.mdl-navigation__link(href="/towns/ginza") GINZA
          a.mdl-navigation__link(href="/towns/yokohama") YOKOHAMA
        span.mdl-layout-title Config
        nav.mdl-navigation
          a.mdl-navigation__link(href="/about") About

      //- メインコンテンツ
      main.mdl-layout__content

        //- コンテンツの生成
        - each data in datas
          .mdl-card.mdl-shadow--2dp.town-card-wide
            .mdl-card__title(style="background: url('#{data.post_picture}') center / cover;")
              h2.mdl-card__title-text
                //- a(href="#{data.user_url}", target="_blank")
                  img(src="#{data.user_picture}")
                  | #{data.user_name}
            .mdl-card__supporting-text= data.post_comment
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="#{data.post_url}", target="_blank")= data.post_date
            .mdl-card__menu
              button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                i.material-icons share
