extends layout

block content
  h1= title
  p Welcome to #{title}

    - each data in datas
      div
        p
          img(src="#{data.post_picture}", width="250px;")
        p= data.post_comment
        header
          a(href="#{data.user_url}", target="_blank")
            h1= data.user_name
          p= data.user_fullname
          img(src="#{data.user_picture}", width="100px;")

          
        //- td= data.user_id
        //- td= data.user_profile
        //- td= data.user_liked_by
        //- td= data.post_time
        //- td= data.post_lat
        //- td= data.post_lng
        //- td= data.post_liked_by
        //- td= data.post_category
        //- td= data.post_town
        //- td= data.post_reference
        //- td= data.post_url

  a(href="/") Back to top
